.movie-card{
    color: #fff;
    margin-bottom: 2.5rem;
    padding: 1rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: #111;
}

.movie-card img{
    max-width: 100%;
}

.movie-card img, 
.movie-card h2,
.movie-card p{
    margin-bottom: 1rem;
}

.movie-card svg{
    color: #f7d354;
}

.movie-card a{
    background-color: #f7d354;
    border: 2px solid #f7d354;
    border-radius: 4px;
    color: #000;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0.5rem;
    transition: .4s;
}

.movie-card a:hover{
    background-color: transparent;
    color: #f7d354;
}